# Python environment & cache
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db

# Streamlit local config
.streamlit/secrets.toml

# Large raw datasets (if tracked separately)
*.zip
*.tar.gz
